Ini, TOML
# ==========================================
# 1. 파이썬 가상환경 및 외부 라이브러리 (필수)
# ==========================================
vnavy/
.vnavy/
venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/

# ==========================================
# 2. 파이썬 컴파일 캐시 및 런타임 파일 (필수)
# ==========================================
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# ==========================================
# 3. 중요 보안 및 환경 변수 파일 (★절대 업로드 금지)
# ==========================================
.env
.flaskenv
instance/
config.py

# ==========================================
# 4. 로컬 데이터베이스 (SQLite 등)
# ==========================================
*.db
*.sqlite3

# ==========================================
# 5. OS 및 IDE (에디터) 개별 설정 파일
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db